body{
	padding: 0;
	margin:  0;
}
.home{
	background: #fff;
	height: 80px;
	display:  block;
}
.home ul{
	margin-top: 15px;
	padding-right: 50px;
}
.home .espaco{
	padding-left: 30px;
	font-family: comic Sans MS;
}
.home img{
	width: 30px;
}
.home ul li{
	padding: 0 5px;
	margin-left: 8px;
	border: 3px solid #4395E1;
	border-radius:  40px 40px 40px 40px;
	height:  50px;
}
.home ul li:hover{
	background-color: #558CC0;
}

.home ul li a{
	color:  black;
	margin-top: -8px;
	font-size:  18px;
}
.home ul li a:hover{
	color:  #ffffff;
}
.home .butao-cdt{
	background: #F9694E;
}
.home .butao-cdt:hover{
	background: #F8765D;
}
/* Carrosel de slide */
.slide-carrosel{
	width: 100%;
	margin-top: -18px;
}
.carousel{
	max-width: 80%;
	max-height:  80%;
	margin: 0 auto;
}
/** rodapé */
.page-footer{
	background: #5E8AB4;
}
.page-footer ul li{
	margin-bottom: 13px;
	font-size:  18px;
}
.page-footer span{
	margin-left:  10px;
	font-family: comic Sans MS;
}
.page-footer img{
	width: 30px;
}
.page-footer h5{
	text-decoration: underline;
}
.page-footer .text-footer{
	text-decoration: none;
}
/** div home */
#principal{
	background: url('../img/cool-background.png');
	background-attachment: fixed;
	display: block;
}
#principal .caixa-img{
	float: right;
}
#principal .caixa-text{
  position: relative;
	top:200px;
	left: 50%;
	font-size: 25px;
	border: 2px dashed rgba(59,60,60,.7);
}
#principal .caixa-text span{
	font-weight: bold;
}
/** Formatação dos cards no cursos.html */
.cards{
	width: 100%;
	padding: 40px;
	background: url('../img/background.svg');
	background-size: 150%;

}
.cards a{
	font-size: 18px;
}

.cards ul li{
	display: flex;
	padding-bottom: 30px;
}
.cards .card{
	width: 30%;
	margin-left: 2%;
}
.cards .card img{
	height: 240px;
}
.cards .card img:hover{
	animation: zom 2s 1;
}
.cards .card-title{
	font-size: 30px;
	font-family: impact;
}
@keyframes zom{
	50%{
	transform: scale(1.1);

	}
}
.cards .btn{
	background: #4EF06E;
	border: 1px solid #3CC257;
	border-bottom: 4px solid #3CC257;
	border-radius: 15px 15px;
}
.cards .btn:active{
	border: none;
}
/** formulário do cadastro */
#for{
	padding-top: 20px;
	background: url('../img/web.jpg');
	background-size: 90%;
	background-position: -200% 40%;
	padding-top: 30px;
	margin-top: 20px;
	margin-bottom: -20px;
}
.required{
	color: red;
}
#form .caix-row{
	max-height: 100%;
}
#for .botao{
	cursor: pointer;
}
#for .material-icons:active{
	color: red;
}
 .input-field input:focus {
	border-bottom: 1px solid #719FCA;
	 box-shadow: 0 1px 0 0 #000;
}
.box_input{
	position: absolute;
	background: rgba(0,0,0,.2);
	width: 100%;
	height: 100%;
}
.box_form {
	margin: 5% auto;
	background: #E0E5E3;
	width: 60%;
	height: 60%;
	box-shadow: 0 1px 25px #717674;
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	-ms-border-radius: 18px;
	-o-border-radius: 18px;
}
.box_input h1 {
	text-align: center
}

button {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.centralizar {
	height: 38px;
	width: 170px;
	border-radius: 3px;
	border: 1px solid #ef5351;
	margin: 100px 38%;
	text-align: center;
}

.input-select {
  position: relative;
	bottom: -90px;
	width: 80%;
	left: 10%;
}