body{
	padding: 0;
	margin:  0;
}
.home{
	background: #fff;
	height: 70px;
	display:  block;

}

.home ul{
	margin-top: 15px;
	padding-right: 30px;
	display: flex;
	align-items: center;
}
.home .espaco{
	padding-left: 30px;
	font-family: comic Sans MS;
	text-align: justify;
}
.home img{
	width: 30px;
}
.home ul li{
	padding: 0 5px;
	margin-left: 5px;
	border: 3px solid #2D77BC;
	border-radius:  40px 40px 40px 40px;
	height:  43px;
	font-size: 1rem;
}
.home ul li:hover{
	background-color: #4688C7;
}

.home ul li a{
	color:black;
	margin-top: -12px;
	font-size:  1.1em;
}
.home ul li a:hover{
	color:  #ffffff;
	
}
/*comentário necessário. coloquei essa estilização para tirar uma cor  de fundo transparente que é patrão do elemento nav do  materialize  */
nav ul a{
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}

nav ul a:hover {
    background-color: rgba(0,0,0,0);
}
/* ---- */

.home .butao-login{
	background: #F9694E;
	border: none;
	
}
.home .butao-login i{
	margin: 5% 0;
}

/*Manipulação do botão idioma*/
.home #btnIdioma {
	border: none;
	margin-right: -20px;
	width: 100px;
}
.home #btnIdioma a {
	font-size: 1em;
}
.home #btnIdioma img{	
	margin-left: 4px;
	width: 18%;
	
}
.home #btnIdioma img:nth-child(1) {
	margin-right: 8%;
}
.home #btnIdioma .iconIdioma {
	width: 40%;
	display: inline-block;
	vertical-align: middle;
}
.home #btnIdioma .ulIdioma {
	width: 180px;
	margin: 5% -30%;
}

.home #btnIdioma .ulIdioma li {
	border: none;
	width: 100%;
	margin: 1% -20%;
	font-size: 1em;
	
}
.home #btnIdioma .ulIdioma li:nth-child(2) {
	width: 110%;
}
.home #btnIdioma .ulIdioma img {
	display: inline-block;
	vertical-align: middle;
}
.home #btnIdioma .hiddenIdioma{
	display: none;
}
/* Carrosel de slide */
.slide-carrosel{
	margin-top: -18px;
	padding:0;
	width: 100%;
	position: relative;
	display: block;
}
.carousel{
	max-width: 100%;
	max-height:  90%;
	margin: 0 auto;
	width: 100%;
}
/** rodapé */
.page-footer{
	background: #5E8AB4;
}
.page-footer ul li{
	margin-bottom: 13px;
	font-size:  18px;
}
.page-footer span{
	margin-left:  10px;
	font-family: comic Sans MS;
}
.page-footer img{
	width: 30px;
}
.page-footer h5{
	text-decoration: underline;
}
.page-footer .text-footer{
	text-decoration: none;
}
/** div home */
#principal{
	background: url('../img/cool-background.png');
	background-attachment: fixed;
	display: block;
}
#principal .caixa-img{
	float: right;
}
#principal .caixa-text{
  position: relative;
	top:200px;
	left: 50%;
	font-size: 25px;
	border: 2px dashed rgba(59,60,60,.7);
}
#principal .caixa-text span{
	font-weight: bold;
}
/** Formatação dos cards no cursos.html */
.cards{
	width: 100%;
	padding: 40px;
	background: url('../img/background.svg');
	background-size: 150%;

}
.cards a{
	font-size: 18px;
}

.cards ul li{
	display: flex;
	padding-bottom: 30px;
}
.cards .card{
	width: 30%;
	margin-left: 2%;
}
.cards .card img{
	height: 240px;
}
.cards .card img:hover{
	animation: zom 2s 1;
}
.cards .card-title{
	font-size: 30px;
	font-family: impact;
}
@keyframes zom{
	50%{
	transform: scale(1.1);

	}
}
.cards .btn{
	background: #4EF06E;
	border: 1px solid #3CC257;
	border-bottom: 4px solid #3CC257;
	border-radius: 15px 15px;
}
.cards .btn:active{
	border-bottom: none;
}
/** formulário do cadastro */
#box-form{
	padding-top: 20px;
	background: url('../img/background-gradient.svg');
	background-size:cover;
	padding-top: 30px;
	margin-top: 10px;
	margin-bottom: -20px;
}
#box-form .form {
	margin-left: 8%;
}
.required{
	color: red;
}
#form .caix-row{
	max-height: 100%;
}
#form .botao{
	cursor: pointer;
}
#form .material-icons:active{
	color: red;
}
 .input-field input:focus {
	border-bottom: 1px solid #719FCA;
	 box-shadow: 0 1px 0 0 #000;
}
.box_input{
	position: absolute;
	background: rgba(0,0,0,.2);
	width: 100%;
	height: 100%;
}
.box_form {
	margin: 5% auto;
	background: #E0E5E3;
	width: 60%;
	height: 60%;
	box-shadow: 0 1px 25px #717674;
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	-ms-border-radius: 18px;
	-o-border-radius: 18px;
}
.box_input h1 {
	text-align: center
}

button {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.centralizar {
	height: 38px;
	width: 170px;
	border-radius: 3px;
	border: 1px solid #ef5351;
	margin: 100px 38%;
	text-align: center;
}

.input-select {
  position: relative;
	bottom: -90px;
	width: 80%;
	left: 10%;
}

.saibaMais p{
	font-size: 20px;
}